@charset "utf-8";

@media screen and (min-width: 768px) and (max-width: 992px) {
    body{
        background-image: linear-gradient(to top, #4b0135, rgb(153, 112, 0));
    }
    section#login{
        width: 90vw;
    }
    section#login > div#image {
        float: left;
        width: 30%;
        height: 100%;
        border-radius: 20px  0px 0px 20px;
    }
    section#login > div#form{
        float: right;
        width: 70%;
    }
}

@media screen and (min-width: 992px){
    body{
        background-image: linear-gradient(to top, #4b0135, rgb(153, 112, 0));
    }
    section#login {
        width: 950px;
    }
    section#login > div#image{
        float: right;
        width: 50%;
        height: 100%;
        border-radius: 0px  20px 20px 0px;
    }
    div#form > h1{
        text-align: center;
        margin-bottom: 10px;
    }
    section#login > div#form{
        float: left;
    }
    div#form > p {
        font-size: 1.2em;
    }
}